<h1 style="margin-top:20px;">Utilizzo di NgRx e ReactiveForm</h1>
<h2 style="margin-bottom: 30px;">Compilare il secondo form e premere invia sia per cambiare il nome della città sia per attivare NgRx e far cambiare il nome sotto in bianco</h2>
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<app-input-box (inputSubmitted)="changeCity($event)"></app-input-box>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot-bg.jpg" alt="hot" *ngIf="weatherData.current.temp_c > 15">
    <img src="../assets/cold-bg.jpg" alt="cold" *ngIf="weatherData.current.temp_c <= 15">
    <div class="weather-data">
      <div class="location">{{weatherData.location.name}}</div>
      <div class="temperature">{{ weatherData.current.temp_c | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.temp_c}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.temp_f}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.wind_kph}} km/h
        </div>
      </div>


    </div>
  </div>
</div>

<router-outlet></router-outlet>


<h1 style="color:white;">{{ nameOfTheCity$ | async }}</h1>
